<app-header></app-header>

<body>
  <header>
    <div class="container">
      <h1>PGManagement</h1>
      <p>Your gateway to the world of PG Management!</p>
    </div>
  </header>

  <section class="about-section">
    <div class="container">
      <div class="about-content">
        <h2><u>About Us</u></h2>
        <p>Welcome to PG Management, where you feel comfortable. We are your haven for literary exploration and discovery.</p>
        <p>Embark on a journey through the PG's, exploring different worlds, diverse cultures, and unique perspectives. Whether you feel peace of mind, entertainment, or inspiration, we have something for everyone.</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 PG Management. All rights reserved.</p>
    </div>
  </footer>
</body>
